.landpage{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/god.jpg.crdownload);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.left-one{
    height: 50%;
    width: 50vw;
    margin-top: 10%;
    padding-left: 14%;
    
}
.left-one h1{
    color: rgb(245, 52, 52);
    font-size: 3.3rem;
    font-weight: bold;
    /* width: 60%; */
}
.vleft{
    height: 25%;
    width: 95%;
    display: flex;
}
.left-img{
    height: 35%;
    width: 8%;
    /* background-color: rgb(109, 109, 174); */
    text-align: center;
    position: relative;
   
    }
.line4{
    width: 0vw;
    height: 5vh;
    border: 1px solid rgb(125, 39, 72);
    position: absolute;
    left: 2%;
    top: 40%;
}
.line5{
    width: 0vw;
    height: 9vh;
    border: 1px solid rgb(125, 39, 72);
    position: absolute;
    left:27%;
    top: 2%;
}
.line6{
    width: 0vw;
    height: 5vh;
    position: absolute;
    left: 55%;
    top: 40%;
    border: 1px solid rgb(125, 39, 72);
}
.vleft p{
    font-size: 1.1rem;
    margin-left:1%;
}
.btn1{
    height: 10%;
    width: 25%;
    background-color:rgb(82, 13, 28);
    color:white;
    border-radius: 40px;
    text-align: center;
}
.btn1:hover{
    background-color: white;
    color:rgb(173, 14, 49);
    border:2px solid rgb(82, 13, 28);;
}
.btn2{
    height: 10%;
    width: 27%;
    background-color: white;
    color:rgb(173, 14, 49);
    border-radius: 40px;
    border: 2px solid white;
     margin-left: 10px;
}
.btn2:hover{
    background-color:rgb(82, 13, 28) ;
    color: white;
    border: 2px solid white;
} 
.right-one{
    height: 50%;
    width: 50vw;
    background-color: rgb(67, 200, 91);
} 

@media only  screen and (max-width: 900px) {
    .landpage{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/mainBg.jpeg);
    background-position: center;
    background-repeat: no-repeat;   
    } 
    .left-one{
        height: 70vh;
        width: 100vw;
        padding-left: 2%;
        margin-top: 25%;
    }
    .left-one h1{
        color: rgb(252, 249, 249);
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        /* width: 60%; */
    }
    .vleft{
        height: 30%;
        width: 95%;
        /* display: flex; */
        margin-left: 2%;
    }
    .left-img{
        height: 35%;
        width: 8%;
        /* background-color: rgb(109, 109, 174); */
        text-align: center;
        position: relative;
        display: none;
       
        }
    
    .vleft p{
        font-size: 1.2rem;
        /* font-weight: bold; */
        text-align: center;
        color: white;
    }
    .btn1{
        height: 13%;
        width: 43%;
        background-color:rgb(82, 13, 28);
        color:white;
        border-radius: 40px;
        margin-top: 6%;
        /* position: absolute;
        left: 5%;
        top: 62%; */
        font-weight: bold;
    }
    .btn1:hover{
        background-color: white;
        color:rgb(173, 14, 49);
        border:2px solid rgb(82, 13, 28);;
    }
    .btn2{
        height: 13%;
        width: 43%;
        background-color: white;
        color:rgb(173, 14, 49);
        border-radius: 40px;
        border: 2px solid white;
        margin-top: 6%;

        /* position: absolute;
        top: 62%;
        left: 50%;  */
        text-align: center;
        font-weight: bold;
    }
    .btn2:hover{
        background-color:rgb(82, 13, 28) ;
        color: white;
        border: 2px solid white;
    } 
    /* .right-one{
        height: 50%;
        width: 50vw;
        background-color: rgb(67, 200, 91);
        display: none;
    }  */
    
    /* .landpage .para{
        height: 10%;
        width: 90%;
        font-size:1rem;
        position: absolute;
        left: 6%;
        top: 45%; */
        /* color: rgb(245, 11, 11); */
        /* color:white;

        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    } */
    /* .line1{
        width: 0vw;
        height: 5vh;
        position: absolute;
        left: -34px;
        top: 5%;
        border: 1px solid rgb(125, 39, 72);
        display: none;
    }
    .line2{
        width: 0vw;
        height: 9vh;
        position: absolute;
        left: -29px;
        top: 0%;
        border: 1px solid rgb(125, 39, 72);
        display: none;

    }
    .line3{
        width: 0vw;
        height: 5vh;
        position: absolute;
        left: -24px;
        top: 5%;
        border: 1px solid rgb(125, 39, 72);
        display: none;

    }
    .heading h2{
        height: 40%;
        width: 100%;
        position: absolute;
        left: 0%;
        top: 25%;
        font-size:2.3rem;
        font-weight: bold;
        /* color: rgb(245, 11, 11); */
        /* color:white;
        text-align: center;
    }
    .btn1{
        height: 8%;
        width: 39%;
        background-color:rgb(82, 13, 28);
        color:white;
        border-radius: 35px;
        position: absolute;
        left:7%;
        top: 67%;
    
    }
    .btn1:hover{
        background-color: white;
        color:rgb(173, 14, 49);
        border:2px solid rgb(82, 13, 28);
    }
    .btn2{
        height: 8%;
        width: 40%;
        background-color: white;
        color:rgb(173, 14, 49);
        border-radius: 35px;
        border: 2px solid white;
        position: absolute;
        top: 67%;
        left: 47%;
        font-weight: bold;
    }
    .btn2:hover{
        background-color:rgb(82, 13, 28) ;
        color: white;
        border: 2px solid white;
    }  */
}