.about {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(224,184,173,1) 0%, rgba(219,143,61,0.9248074229691877) 32%, rgba(213,123,87,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ab-box1 {
    height: 90%;
    width: 40%;
    display: flex;
    position: relative;
}

.ab-box2 {
    height: 90%;
    width: 50%;
    position: relative;

}
.line1{
    width: 0vw;
    height: 6vh;
    position: absolute;
    left: -30px;
    top: 17%;
    border: 1px solid rgb(82, 13, 28);
}
.line2{
    width: 0vw;
    height: 11vh;
    position: absolute;
    left: -24px;
    top: 14%;
    border: 1px solid  rgb(82, 13, 28);
}
.line3{
    width: 0vw;
    height: 6vh;
    position: absolute;
    left: -17px;
    top: 17%;
    border: 1px solid  rgb(82, 13, 28);
}



.img1 {
    width: 15vw;
    height: 25vh;
    /* background-color: blueviolet; */
    /* position: absolute;
    top: 5%;
    left: 2%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
}

.img1 img {
    width: 12vw;
    height: 30vh;
    /* background-color: blueviolet; */
    position: absolute;
    top: 5%;
    left: 6%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.img2 {
    width: 20vw;
    height: 30vh;
    

    /* background-color: brown;
    position: absolute;
    top: 24%;
    left: 24%; */

}

.img2 img {
    width: 20vw;
    height: 45vh;
    /* background-color: brown; */
    position: absolute;
    top: 20%;
    left: 22%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.img3 {
    width: 20vw;
    height: 30vh;

    /* background-color: blanchedalmond;
  position: absolute;
  top:43%;
  left: 46%; */
}

.img3 img {
    width: 12vw;
    height: 30vh;
    /* background-color: blanchedalmond; */
    position: absolute;
    top: 52%;
    left: 56%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.ab-box2 h1 {
    padding-top: 18px;

}

.ab-box2 p {
    padding-top: 12px;


}

.bton {
    width: 9vw;
    height: 5vh;
    border: none;
    /* padding: 1px, 1px; */
    background-color: rgb(82, 13, 28);
    color: white;
   
    border-radius: 10em;

}

.bton:hover {
    width: 9vw;
    height: 5vh;
    border: none;
    background-color: white;
    color: rgb(82, 13, 28);;
    border: 2px solid  rgb(82, 13, 28);;
    ;
    border-radius: 10em;

}

@media only screen and (max-width: 600px) {
    .about {
        flex-direction: column;
    }

    .ab-box1 {
        height: 100%;
        width: 90%;
        position: relative;

        /* background-color: rgba(169, 84, 84, 0.511); */
        /* border: 2px solid black; */
    }

    .img1 img {
        width: 35vw;
        height: 25vh;
        position: absolute;
        top: 5%;
        left: 9%;


    }

    .img2 img {
        width: 35vw;
        height: 25vh;
        position: absolute;
        top: 25%;
        left: 30%;

    }

    .img3 img {
        width: 35vw;
        height: 25vh;
        position: absolute;
        top: 45%;
        left: 54%;
    }

    .ab-box2 {
        height: 100%;
        width: 90%;
        position: relative;
        /* background-color: rgba(169, 84, 84, 0.511); */
        /* border: 2px solid black; */
    }

    .ab-box2 h1 {
        text-align: center;
        padding-top: 20px;
        
        
    }

    .ab-box2 p {
        text-align: center;
       
     
        /* flex-direction: column; */
    }

    .bton {
        width: 25vw;
        height: 6vh;
        /* border-radius: 5em; */
        position: absolute;
        left: 35%;
        /* bottom: 1%; */
    font-size: 0.3cm;
    

    }

    .bton:hover {
        width: 25vw;
        height: 6vh;
        /* position: absolute; */
        /* left: 35%; */
        /* bottom: 1%; */
        /* font-size: 0.4cm; */
         background-color: white;
        color:rgb(82, 13, 28);
        border: 2px solid rgb(82, 13, 28);
        
        /* border-radius: 4px; */
    }
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }
    .line3{
        display: none;
    }

}