
.header {
	height: 10vh;
    width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
	box-shadow: rgba(188, 188, 204, 0.214) 0px 50px 100px -20px, rgba(10, 9, 9, 0.3) 0px 30px 60px -30px, rgba(10, 13, 15, 0.35) 0px -2px 6px 0px inset;	
	background: rgba(98, 50, 87, 0.06);
}


nav a {
	margin: 0 1rem;
	color: #560214;
	text-decoration: none;
}

nav a:hover {
	color:rgb(27, 1, 2);
}

.header .nav-btn {
	padding: 1rem;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: white;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.header div,
nav {
	display: flex;
	align-items: center;
}

 @media only screen and (max-width: 900px) {


	.header nav {
		position:absolute;
		top: 0;
	    right: 0;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
		transition: 1s;
		transform: translateY(-100vh);
	}
	
	.header .nav-btn {
		visibility: visible;
		opacity: 1;	
		position: absolute;
		top: 0%;
	    right: 0%;
	}
	
	.header .responsive_nav {
		transform:none;
	}
 
	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1rem;
		color: white;
	}
} 