.footer1{
    width: 100vw;
    min-height: 60vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.f1{
    height: 100%;
    width: 38vw;
    /* background-color: aqua; */
     
  
}
.h3{
    color: red;
}
.f2{
    height: 100%;
    width: 20vw;
    background-color: white;
    display: block;
    /* text-align: center; */
    /* padding: px 0px; */
}
.f2 a{
    text-decoration: none;
    color: black;
    padding-top: 30px;
}
.f2 a:hover{
    color:blueviolet;
   
}
.f2h3{
    color: red;
    text-align: left;
}
.f2 img{
    height: 6vh;
    width: 2vw;
    
}
.f3{
    height: 100%;
    width: 30vw;
    /* background-color:  royalblue; */
    padding: 40px 0px;
    text-align: center;
}
.f31{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.f3 a{
    /* text-decoration: none; */
    /* color: pink; */
    padding-left: 15px;
}
.f3 a:hover{
    color: red;
}
.f3h2{
    color: red;
}
.cpr{
    height: 5vh;
    width: 100%;
    /* background-color: red; */
    text-align: center;
}
@media only screen and (max-width: 1000px) {

  .footer1{
    display: block;
    text-align: center;
    padding-left: 30vw;
   
  }
}